@@ -0,0 +1,61 @@
<table id="customers">
    <tr>
        <th *ngFor="let item of tableheader">{{item}}</th>
    </tr>
    <tr *ngFor="let data of tableDate$;let i =index">
            <td>{{data.imageType}}</td>
            <td>{{data.sopuid}}</td>
            <td>{{data.sopinstanceUID}}</td>
            <td>{{data.studyDate}}</td>
            <td>{{data.seriesDate}}</td>
            <td>{{data.acquistionDate}}</td>
            <td>{{data.contentDate}}</td>
            <td>{{data.studyTime}}</td>
            <td>{{data.seriesTime}}</td>
            <td>{{data.acquistionTime}}</td>
            <td>{{data.contentTime}}</td>
            <td>{{data.accessionNumberIS}}</td>
            <td>{{data.modality}}</td>
            <td>{{data.manufacturer}}</td>
            <td>{{data.institutionTime}}</td>
            <td>{{data.referringPhysicianName}}</td>
            <td>{{data.studyDescription}}</td>
            <td>{{data.seriesDescription}}</td>
            <td>{{data.manufacturerModelName}}</td>
            <td>{{data.patientName}}</td>
            <td>{{data.patientOrientationCS}}</td>
            <td>{{data.patientBirthDate}}</td>
            <td>{{data.patientSex}}</td>
            <td>{{data.otherPatientIDs}}</td>
            <td>{{data.patientAge}}</td>
            <td>{{data.patientWeight}}</td>
            <td>{{data.pregnancyStatus}}</td>
            <td>{{data.sliceThickness}}</td>
            <td>{{data.spacingbetweenSlices}}</td>
            <td>{{data.softwareVersion}}</td>
            <td>{{data.protocolName}}</td>
            <td>{{data.studyInstanceUID}}</td>
            <td>{{data.seriesInstanceUID}}</td>
            <td>{{data.studyID}}</td>
            <td>{{data.seriesNumber}}</td>
            <td>{{data.accessionNumberSH}}</td>
            <td>{{data.instanceNumber}}</td>
            <td>{{data.patientOrientation}}</td>
            <td>{{data.patientImagePosition}}</td>
            <td>{{data.patientImageOrientation}}</td>
            <td>{{data.frameReferenceUID}}</td>
            <td>{{data.sampleperPixel}}</td>
            <td>{{data.photometricInteroretation}}</td>
            <td>{{data.rows}}</td>
            <td>{{data.columns}}</td>
            <td>{{data.pixelSpacing}}</td>
            <td>{{data.bitsAllocated}}</td>
            <td>{{data.bitsStored}}</td>
            <td>{{data.highBit}}</td>
            <td>{{data.pixelRepresentation}}</td>
            <td>{{data.rescaleIntercept}}</td>
            <td>{{data.reScaleSlope}}</td>
            <td>{{data.reScaleType}}</td>
            <td>{{data.fileName}}</td>
     </tr>
</table>