
body{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  /* list-style-type: none;
  b */
  border: 0;
}

.contentTxt{
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
}

.modal-body{
  display: flex;
  align-items:flex-end;
}

.search-modal{
  background: black;
  position: fixed;
  height: 100vh;
  display: none;
  min-width: 35%;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 1.5s ease;
  transform: translate(100,100);
  background-color: rgb(90,120,100);
}

#save{
  float:right;
  border-radius: 5px;
  width: 51px;
  padding: 5px;
 }

 .userList{
  flex-grow: 7;
  height: 30px;
  width: 6.7rem;
  margin:1em;
}

.pop-body{

  padding: 20px;
  margin: 0;
}

.overlay {
  position: relative;
}
 canvas{
  position: absolute;
  /* border: 1px solid; */
  z-index: 2;
  pointer-events: none;
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  padding: 0;
  margin-right: 267px;
}



.details{
  margin: 16px;
  background: aliceblue;
  height: 264px;
  width: 200px;
 }

.header #first{
  margin-left: 15px;
  flex-grow:1;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 222px;
  padding: 3px 0;
  width: 53rem;
  background: #edf2f4;
}

.modal-head{
  padding: 10px;
}

.close{
  font-size: 40px;
  color: #fff;
  margin: 7px 18px;
  float: left;
  font-weight: 600;
}

/* .search-bo */

.search-result span{
  align-items: center;
}

.fa-search{
margin-inline-end: 20px;
}

.search-result{
  display: flex;
  flex-direction: column;
  padding: 20px 6px;
  line-height: 2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: white;
  border-radius: 10px;
  margin: 10px 0;
}

.modal-head > input{
  padding: 10px;
  width: 80%;
  font-family: math;
  font-size: 14px;
  border-radius: 4vh;
  float: right;
}

.item{
  padding: 20px;
  line-height: 1;
}
